**
!requirements.txt
!requirements.lock
!manage.py
!Tsukiyomi_project/
!Tsukiyomi_project/**
!Tsukiyomi_app/
!Tsukiyomi_app/**
!Tsukiyomi_account_app/
!Tsukiyomi_account_app/**
!static/
!static/assets/
!static/assets/**
!static/vendors/
!static/vendors/**
**/__pycache__
**/*.py[cod]
**/.env*
**/*.pem
**/*.key
