{% extends 'base_account.html' %}
{% load static %}
{% block account_bloc %}
    
    <section class="py-xxl-10 pb-0" id="home">
        <div class="bg-holder bg-size" style="background-image:url('{% static "assets/img/gallery/tsu-bg.png" %}'); background-position:top;center;background-size:cover;">
        </div>

        

         <div class="container">
          <div class="row">
            <div class="col-12 py-3">
              
              </div>
              <!--/.bg-holder-->

              <h1 class="text-center rounded" style="background-color: rgb(255, 255, 255);font-weight: bold; color: rgb(111, 57, 7);">Connexion à l'application</h1>
            </div>
          </div>
        </div>

        {% if user.is_authenticated %}
            
            <div class="container rounded-pill" style="background-color: rgb(111, 57, 7);">
              <div class="row">
                <p class="rounded-pill" style="text-align: center;color: rgb(236, 234, 231)">Connexion réussie ...</p>
                <a class="btn  rounded-pill" style="color:white;background-color: rgb(111, 57, 7);border-color: rgb(243, 238, 238);font-size: 100%;" href="{% url 'reindex' %}">Accéder à la page d'accueil</a>


              </div>
              
            </div>

        {% else %}
            <div class="container">
              <div class="row">
            
              <!--/.bg-holder-->

              <div class="col-lg-6 z-index-2 mb-5"><img class="w-100" style="width: 30%; height: 70%;" src="{% static 'assets/img/gallery/tsuki.png' %}" /></div>
              <div class="col-lg-6 z-index-2">
                <form class="row g-3" role="form" action="{% url 'login_view' %}" method="POST" enctype="multipart/form-data">
                  <div class="col-md-12">
                      {% csrf_token %}
                      {{luf.as_p}}

                    
                  </div>
                  
                  
                  
                  
                  <div class="col-12">
                    <div class="d-grid">
                      <button class="btn  rounded-pill" style="color:rgb(111, 57, 7);background-color: white;border-color: rgb(111, 57, 7)"  type="submit">Connectez-vous</button>
                      <a class="btn  rounded-pill" style="color:white;background-color: rgb(111, 57, 7);border-color: rgb(243, 238, 238);font-size: 100%;" href="{% url 'register' %}">Créer un compte</a>
                    </div>
                    {% if error_msg %}
                      <p style="margin-left: 80px ;background-color: rgb(111, 57, 7); color: rgb(243, 238, 238);">{{ error_msg}}</p>
                      <p style="margin-left: 80px ;background-color: rgb(111, 57, 7); color: rgb(243, 238, 238);">{{ state_connexion}}</p>
                    {% endif %}
                  </div>
                  <div class="col-lg-6 z-index-2 mb-5"><img style="width: 60%;"  src="{% static 'assets/img/gallery/car.png' %}" /></div>
                  
                  </div>
                </form>
              </div>
            </div>
        </div>

        {% endif %}

        

       
        

        
    </section>

   
     
    




       <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'vendors/@popperjs/popper.min.js' %}"></script>
    <script src="{%  static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{%static 'vendors/is/is.min.js' %}"></script>
    <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>



    
{% endblock %}





    



      


      
      


        



   

